##############################
## Common
##############################
**/bin/
**/build/
**/out/
**/tmp/
**/doc/
**/log
**/logs
**/target/
**/debug/

*.log
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

##############################
## Visual Studio Code
##############################
*.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Executables and files
##############################
**/zig-out/
**/.zig-cache/
